# Ignore build files
/*.egg-info/*

# Ignore Cache
__pycache__

# Ignore testing related files
.pytest_cache/*

# Ignore Coverage files
.coverage

# Ignore Mac folder profile files
*DS_Store*

# Ignore all files generated during testing
*/tests/test_files/*

# Ignore compiled files
*.pyc

# Ignore notebook checkpoints
*.ipynb_checkpoints*

# Ignore files generated for the related paper
simulations/jobs
simulations/data
simulations/results
simulations/old

.venv
.pixi
.idea
.vscode
dist


# Ignore ruff stuff
.ruff_cache# pixi environments
.pixi
*.egg-info
*.lcov
/doc/build/.doctrees/auto_examples/index.doctree
/doc/build/.doctrees/auto_examples/sg_execution_times.doctree
/doc/build/.doctrees/environment.pickle
/doc/build/.doctrees/index.doctree
/doc/build/.doctrees/sg_execution_times.doctree
/doc/build/_downloads/07fcc19ba03226cd3d83d4e40ec44385/auto_examples_python.zip
/doc/build/_sources/auto_examples/index.rst.txt
/doc/build/_sources/auto_examples/sg_execution_times.rst.txt
/doc/build/_sources/index.rst.txt
/doc/build/_sources/sg_execution_times.rst.txt
/doc/build/_static/scripts/bootstrap.js
/doc/build/_static/scripts/bootstrap.js.LICENSE.txt
/doc/build/_static/scripts/bootstrap.js.map
/doc/build/_static/scripts/pydata-sphinx-theme.js
/doc/build/_static/scripts/pydata-sphinx-theme.js.map
/doc/build/_static/styles/bootstrap.css
/doc/build/_static/styles/bootstrap.css.map
/doc/build/_static/styles/pydata-sphinx-theme.css
/doc/build/_static/styles/pydata-sphinx-theme.css.map
/doc/build/_static/styles/theme.css
/doc/build/_static/vendor/fontawesome/6.5.2/css/all.min.css
/doc/build/_static/vendor/fontawesome/6.5.2/js/all.min.js
/doc/build/_static/vendor/fontawesome/6.5.2/js/all.min.js.LICENSE.txt
/doc/build/_static/vendor/fontawesome/6.5.2/webfonts/fa-brands-400.ttf
/doc/build/_static/vendor/fontawesome/6.5.2/webfonts/fa-brands-400.woff2
/doc/build/_static/vendor/fontawesome/6.5.2/webfonts/fa-regular-400.ttf
/doc/build/_static/vendor/fontawesome/6.5.2/webfonts/fa-regular-400.woff2
/doc/build/_static/vendor/fontawesome/6.5.2/webfonts/fa-solid-900.ttf
/doc/build/_static/vendor/fontawesome/6.5.2/webfonts/fa-solid-900.woff2
/doc/build/_static/vendor/fontawesome/6.5.2/webfonts/fa-v4compatibility.ttf
/doc/build/_static/vendor/fontawesome/6.5.2/webfonts/fa-v4compatibility.woff2
/doc/build/_static/vendor/fontawesome/6.5.2/LICENSE.txt
/doc/build/_static/basic.css
/doc/build/_static/binder_badge_logo.svg
/doc/build/_static/broken_example.png
/doc/build/_static/doctools.js
/doc/build/_static/documentation_options.js
/doc/build/_static/file.png
/doc/build/_static/jupyterlite_badge_logo.svg
/doc/build/_static/language_data.js
/doc/build/_static/minus.png
/doc/build/_static/no_image.png
/doc/build/_static/plus.png
/doc/build/_static/pygments.css
/doc/build/_static/searchtools.js
/doc/build/_static/sg_gallery.css
/doc/build/_static/sg_gallery-binder.css
/doc/build/_static/sg_gallery-dataframe.css
/doc/build/_static/sg_gallery-rendered-html.css
/doc/build/_static/sphinx_highlight.js
/doc/build/_static/webpack-macros.html
/doc/build/auto_examples/index.html
/doc/build/auto_examples/sg_execution_times.html
/doc/build/doctrees/auto_examples/index.doctree
/doc/build/doctrees/auto_examples/sg_execution_times.doctree
/doc/build/doctrees/environment.pickle
/doc/build/doctrees/index.doctree
/doc/build/doctrees/sg_execution_times.doctree
/doc/build/html/_downloads/07fcc19ba03226cd3d83d4e40ec44385/auto_examples_python.zip
/doc/build/html/_sources/auto_examples/index.rst.txt
/doc/build/html/_sources/auto_examples/sg_execution_times.rst.txt
/doc/build/html/_sources/index.rst.txt
/doc/build/html/_sources/sg_execution_times.rst.txt
/doc/build/html/_static/scripts/bootstrap.js
/doc/build/html/_static/scripts/bootstrap.js.LICENSE.txt
/doc/build/html/_static/scripts/bootstrap.js.map
/doc/build/html/_static/scripts/pydata-sphinx-theme.js
/doc/build/html/_static/scripts/pydata-sphinx-theme.js.map
/doc/build/html/_static/styles/bootstrap.css
/doc/build/html/_static/styles/bootstrap.css.map
/doc/build/html/_static/styles/pydata-sphinx-theme.css
/doc/build/html/_static/styles/pydata-sphinx-theme.css.map
/doc/build/html/_static/styles/theme.css
/doc/build/html/_static/vendor/fontawesome/6.5.2/css/all.min.css
/doc/build/html/_static/vendor/fontawesome/6.5.2/js/all.min.js
/doc/build/html/_static/vendor/fontawesome/6.5.2/js/all.min.js.LICENSE.txt
/doc/build/html/_static/vendor/fontawesome/6.5.2/webfonts/fa-brands-400.ttf
/doc/build/html/_static/vendor/fontawesome/6.5.2/webfonts/fa-brands-400.woff2
/doc/build/html/_static/vendor/fontawesome/6.5.2/webfonts/fa-regular-400.ttf
/doc/build/html/_static/vendor/fontawesome/6.5.2/webfonts/fa-regular-400.woff2
/doc/build/html/_static/vendor/fontawesome/6.5.2/webfonts/fa-solid-900.ttf
/doc/build/html/_static/vendor/fontawesome/6.5.2/webfonts/fa-solid-900.woff2
/doc/build/html/_static/vendor/fontawesome/6.5.2/webfonts/fa-v4compatibility.ttf
/doc/build/html/_static/vendor/fontawesome/6.5.2/webfonts/fa-v4compatibility.woff2
/doc/build/html/_static/vendor/fontawesome/6.5.2/LICENSE.txt
/doc/build/html/_static/basic.css
/doc/build/html/_static/binder_badge_logo.svg
/doc/build/html/_static/broken_example.png
/doc/build/html/_static/doctools.js
/doc/build/html/_static/documentation_options.js
/doc/build/html/_static/file.png
/doc/build/html/_static/jupyterlite_badge_logo.svg
/doc/build/html/_static/language_data.js
/doc/build/html/_static/minus.png
/doc/build/html/_static/no_image.png
/doc/build/html/_static/plus.png
/doc/build/html/_static/pygments.css
/doc/build/html/_static/searchtools.js
/doc/build/html/_static/sg_gallery.css
/doc/build/html/_static/sg_gallery-binder.css
/doc/build/html/_static/sg_gallery-dataframe.css
/doc/build/html/_static/sg_gallery-rendered-html.css
/doc/build/html/_static/sphinx_highlight.js
/doc/build/html/_static/webpack-macros.html
/doc/build/html/auto_examples/index.html
/doc/build/html/auto_examples/sg_execution_times.html
/doc/build/html/.buildinfo
/doc/build/html/.nojekyll
/doc/build/html/genindex.html
/doc/build/html/index.html
/doc/build/html/objects.inv
/doc/build/html/search.html
/doc/build/html/searchindex.js
/doc/build/html/sg_execution_times.html
/doc/build/.buildinfo
/doc/build/.nojekyll
/doc/build/genindex.html
/doc/build/index.html
/doc/build/objects.inv
/doc/build/search.html
/doc/build/searchindex.js
/doc/build/sg_execution_times.html
